html {
  position: relative;
  min-height: 100%;
}
body{
  width: 100%;
  height: auto;
  background-image: url(./img/land.jpg);
  font-family: 'Sunflower', sans-serif;
  margin: 0 0 100px;
 
}

.App {
  
  text-align: center;
}
nav{
  font-family: 'Sunflower', sans-serif;
  background-color:#e2e2e2;

}
#github{
  float:right;
  width:50px;
  height:50px;
}
#footer{
  background-color:#e2e2e2;

  width:100%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  bottom: 0;

}
p{
  color:black
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#LogReg{
  float:right;
}
button{
  background-color: #f9f9f9; /* Green */
  border: none;
  color: grey;
  margin:5px;
  margin-top: 15px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-family: 'Sunflower', sans-serif;
  font-size: 16px;
}
/*:active button{
  background: linear-gradient(#103d10, #1f7a1f);
} */
a{
  background-color: #f9f9f9; /* Green */
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}