.App {
  text-align: center;
}
nav{
  background-color:#e2e2e2;

}
#LogReg{
  float:right;
}
button{
  background-color: #f9f9f9; /* Green */
  border: none;
  color: grey;
  margin:5px;
  margin-top: 15px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
}
/*:active button{
  background: linear-gradient(#103d10, #1f7a1f);
} */
a{
  background-color: #f9f9f9; /* Green */
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}